
.principal{
    background-color: #f5f5f5;
    color: #000;
}
.MuiAppBar-colorPrimary {

    border-style: hidden;
}
.PrivateTabIndicator-root-2{
    display: none;
}
.bg-white{
    background-color: #fff;
}
.display-contentTabPanel{
    display: flex;
}
.selector{
    width: 25%;
    border-style: hidden;
    border-bottom: groove;
    margin-left: 15px;
}
.text-right{
    text-align: right;
}
.contBtn{
    margin-right: 10%;
}
.btnGuardar{
    background-color: #02cfaa !important;
}